@import url(http://fonts.googleapis.com/css?family=Oswald);

$primaryFont: 'Oswald', sans-serif;


$backgroundColour: black;
$primaryColour: #FF9900;
$secondaryColour: #CC6666;
$alternateColour: #9999FF;

$colour1: #FF9900;
$colour2: #FFCC99;
$colour3: #CC99CC;
$colour4: #CC6666;
$colour5: #9999FF;
$colour6: #CC6699;