@import url(http://fonts.googleapis.com/css?family=Oswald);
* {
  margin: 0;
  padding: 0; }

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: #FF9900;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

::-webkit-scrollbar-track {
  background: #ffcc7f;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; }

body {
  scrollbar-face-color: #FF9900;
  scrollbar-track-color: #ffcc7f; }

body {
  background-color: black;
  color: #FF9900;
  font-family: 'Oswald', sans-serif; }

.top-bar {
  z-index: 0;
  background-color: #9999FF;
  text-align: right;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  position: fixed;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 90%; }
  .top-bar .title {
    padding: 0 6px 0 6px;
    font-size: 2.1em;
    position: relative;
    right: 50px;
    background-color: black; }

.side-bar {
  z-index: 1;
  background-color: #CC6666;
  border-right: 5px solid black;
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  position: fixed;
  top: 10px;
  left: 10px;
  height: calc(100% - 20px);
  width: 25%; }
  .side-bar .side-options {
    margin-top: 80px;
    list-style-type: none; }
    .side-bar .side-options li:first-child {
      border-top: 5px solid black;
      background-color: #FF9900;
      height: 100px; }
    .side-bar .side-options li:first-child:hover {
      background-color: #ffad33;
      cursor: pointer; }
    .side-bar .side-options li {
      color: black;
      background-color: #9999FF;
      height: 200px;
      border-bottom: 5px solid black;
      position: relative;
      transition: linear 0.2s; }
      .side-bar .side-options li a {
        position: absolute;
        bottom: 0;
        right: calc(20% + 20px); }
    .side-bar .side-options li:hover {
      background-color: #ccccff;
      cursor: pointer;
      transition: linear 0.2s; }

.content {
  z-index: 2;
  background-color: black;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  position: fixed;
  top: 60px;
  left: 20%;
  height: calc(100% - 160px);
  width: calc(80% - 10px);
  border: 20px solid black;
  overflow-y: scroll; }
  .content .subtitle {
    background-color: #FFCC99;
    color: black;
    margin: 20px 30px 20px 10px;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    font-size: 1.5em; }
    .content .subtitle span {
      padding: 5px calc(33% - 50px) 5px calc(33% - 50px);
      border: 5px solid black; }
  .content .ds9-window, .content .goku-window {
    text-align: center;
    color: black;
    font-size: 1.3em;
    padding-top: 5px;
    border-radius: 30px;
    height: 450px;
    width: 40%;
    overflow: hidden; }
    .content .ds9-window h3, .content .goku-window h3 {
      border-bottom: 5px solid black;
      padding-bottom: 15px; }
  .content .ds9-list, .content .goku-list {
    background-color: black;
    color: #FF9900;
    margin: auto;
    height: 88%;
    width: 90%;
    border-radius: 15px;
    font-size: 0.9em;
    margin-top: -20px;
    overflow: auto; }
    .content .ds9-list ul, .content .goku-list ul {
      padding: 5px;
      list-style-type: none; }
      .content .ds9-list ul li span, .content .goku-list ul li span {
        display: inline-block;
        width: 60%;
        margin: auto; }
      .content .ds9-list ul li .inspect-icon, .content .goku-list ul li .inspect-icon {
        display: none; }
      .content .ds9-list ul li:hover, .content .goku-list ul li:hover {
        background-color: #FF9900;
        color: black;
        cursor: pointer;
        border-radius: 20px;
        position: relative; }
        .content .ds9-list ul li:hover .inspect-icon, .content .goku-list ul li:hover .inspect-icon {
          display: inline;
          position: absolute;
          right: 10px;
          padding-left: 5px;
          border-left: 3px solid black; }
          .content .ds9-list ul li:hover .inspect-icon img, .content .goku-list ul li:hover .inspect-icon img {
            height: 17px;
            width: 17px; }
      .content .ds9-list ul span.selected, .content .goku-list ul span.selected {
        background-color: #ffd699;
        color: black;
        border-radius: 20px;
        transition: linear 0.2s; }
  .content .ds9-window {
    background-color: #CC99CC;
    float: left;
    margin: 10px 0 0 10px; }
  .content .goku-window {
    background-color: #CC6666;
    float: right;
    margin: 10px 30px 0 0; }
  .content .add-button, .content .remove-button {
    background-color: #FF9900;
    color: black;
    font-size: 1.2em;
    position: absolute;
    width: calc(18% - 40px);
    border: none;
    left: calc(41% + 10px);
    border-radius: 15px;
    height: 40px;
    transition: linear 0.2s; }
  .content .add-button {
    top: 250px; }
  .content .add-button:hover, .content .remove-button:hover {
    background-color: #ffd699;
    transition: linear 0.2s; }
  .content .remove-button {
    top: 300px; }

.crew-member-page {
  margin-top: 20px; }
  .crew-member-page .crew-image {
    margin: 0 20px 20px 20px;
    float: left;
    border: 10px solid #CC6699;
    border-radius: 10px; }
  .crew-member-page .name-group {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em; }
    .crew-member-page .name-group .name-label {
      font-size: 1.2em;
      padding: 5px;
      background-color: #CC6666;
      color: black;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
  .crew-member-page .detail-group {
    width: 500px;
    float: left;
    text-align: center; }
    .crew-member-page .detail-group .detail-label {
      display: block;
      background-color: #9999FF;
      color: black;
      font-size: 1.5em;
      width: 100%;
      border-radius: 20px; }
    .crew-member-page .detail-group .crew-details {
      display: inline-block; }

.footer {
  z-index: 0;
  background-color: #9999FF;
  text-align: right;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 90%; }
  .footer .star-date {
    padding: 0 6px 0 6px;
    font-size: 2.1em;
    position: relative;
    right: 200px;
    background-color: black; }
